.dashnav-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #066f69;
  padding: 15px 30px;
}

.dashnav-img {
  width: 140px;
}

.dddssa {
  height: 17vh;
  background-color: white;
  box-shadow: rgba(190, 190, 190, 0.45) 22px 11px 10px -17px;
  margin: 0 0 0px 0;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.dashboard-side-bar-li {
  text-decoration: none;
  color: black;
  padding: 20px 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.active-das {
  background-color: #86c6ca;
  color: white;
}

.dash-side-ptext {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
}

.dash-sidebar-div {
  background-color: white;
  box-shadow: rgba(190, 190, 190, 0.45) 22px 11px 10px -17px;
  height: 100vh;
  /* padding: 20px 0 0 40px; */
  display: flex;
  /* align-items: c; */
  /* justify-content: center; */
  flex-direction: column;
  /* justify-content: center; */
}

/* =--------------------------View All Items------- --------- */

.ViewAll-Items-div {
  /* border: 1px solid gray; */
  width: 100%;
  overflow-x: hidden;
  /* margin: 10% 0; */
  padding: 6%;
}

.check-div {
  display: flex;
  padding: 10px 0;
  /* justify-content: center; */
  gap: 10px;
  font-size: 0.8rem;
}

.view-addbtn-div {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  justify-content: end;
}

.view-add-btn {
  background-color: #066f69;
  color: white;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 5px 30px;
  border: none;
  font-weight: 700;
}

.checkbox-div {
  border-bottom: 1px solid #86c6ca;
  padding: 6px 0;
  margin: 5px 0;
}

.d-items-div {
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
  align-items: center;
}

.ser-item-input {
  width: 100%;
  padding: 1px 0;
  outline: none;
  border: 1px solid rgb(209, 209, 209);
}

.select-yp-yong {
  width: 70%;
  margin: 0 0 0 40px;
}
.admin-header-search-div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.data-search-input-div {
  width: 78%;
  display: flex;
  /* gap: 20px; */
  margin: 20px 0;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid rgb(216, 216, 216);
}
.data-search-input {
  border: none;
  outline: none;
  width: 100%;
}
.admin-header-search-btn {
  border: none;
  background-color: #86c6ca;
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
  border-radius: 5px;
  color: white;
  padding: 5px 50px;
}

.filter-text-select-div {
  display: flex;
  gap: 20px;
  justify-content: left;
  /* align-items: center; */
}

.filter-select {
  width: 120px;
  height: 5vh;
}

.filter-text-p {
  font-size: 0.9rem;
}
.tabl-icon {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.table {
  width: 100%;
}
.table-nav {
  background-color: #f4f4f4 !important;
  border-right: 1px solid rgb(165, 165, 165);
}
.table-navs {
  background-color: #f4f4f4 !important;
  /* border-right: 1px solid gray; */

  /* width: 00px; */
}
.table-th {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* margin-bottom: -2px; */
  font-size: 0.8rem;
  font-weight: 700;
}
.table-ths {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: -2px;
  visibility: hidden;
}
.th-svg-div {
  display: flex;
  justify-content: end;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  bottom: 0;
}

.dashboard-footer-div {
  background-color: #fffcfc;
  display: flex;
  justify-content: start;
  border-top: 1px solid #e3e2e2;
}
.dashboard-footer {
  /* padding: 10px 0; */
}
.dashboard-footer-text {
  font-size: 0.7rem;
  padding: 10px 20px 5px 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.data-td {
}
.data-tr {
  border: 1px solid rgb(235, 235, 235);
  gap: 10px;

  border-radius: 5px;
  margin: 2% 0 !important;
}

.data-th-text {
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
}
.data-th-texts {
  display: flex;
  justify-content: center;
  /* margin-bottom: -10px; */
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

/* Issue Details  */

.issue-data-table-div {
  border: 1px solid gray;
}
.issue-upload-full-div {
  border: 1px solid gray;
}

.csv-a {
  margin-bottom: 10px;
  color: #00b3ff;
  font-size: 0.8rem;
  cursor: pointer;
}
.issue-upload-div {
  display: grid;
  place-items: center;
  /* padding: 20px 0; */
}

.csv-textp {
  font-size: 0.9rem;
  color: #8f8f8f;
  margin-top: 10px;
}
.csv-textp2 {
  color: #8f8f8f;
  font-size: 0.9rem;
  margin-top: -20px;
}

.previe-issue-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.previe-issue-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.previe-issue-btn-text {
  color: #00b3ff;
}

.previe-issue-btn {
  background-color: #066f69;
  color: white;
  padding: 5px 60px;
  /* height: 5vh; */
  border-radius: 2px;
  outline: none;
  border: none;
}
.previe-issue-text a {
  text-decoration: none;
}

.data-th-text-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.issue-svg-div {
  display: flex;
  justify-content: center;
}

.indi-filter-div {
  display: flex;
  gap: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #49494a;
}
.filt-twenty {
  color: #00a5be;
}
.text-tr {
  display: flex;
  justify-content: center;
}
.text-tricon {
  display: flex;
  justify-content: end;
  align-items: end;
  text-align: end;
}
.icon-container {
  position: relative;
  /* background-color: white; */
  display: inline-block;
  

}

.view-all-link{
  text-decoration: none;
  color:#00B3FF;
}

.link-container {
  position: absolute;
  top: 100%;
  border: 1px solid rgb(247, 247, 247);
  /* background-color: rgb(255, 255, 255); */
  left: -34px;
  padding: 10px;
  z-index: 4;
  background-color: white; /* Set the background color here */
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
  opacity: 5;
  display: none;
  flex-direction: column;
}
.link-container a {
  text-decoration: none;
  color: #49494a;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.icon-container:hover .link-container {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.brand-all-data {
  margin: 10px 0;
  height: 1vh !important;
  border: 1px solid rgb(207, 207, 207);
  /* margin-top: 20px; */
}
.brand-all-data:hover {
  cursor: pointer;
  /* background-color: #f8f8f8;
  border: none; */
}

@media only screen and (max-width: 3000px) and (min-width: 1370px) {
  .dash-side-ptext {
    font-size: 1.1rem;
  }
  .admin-header-search-div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .data-search-input-div {
    width: 83%;
    display: flex;
    /* gap: 20px; */
    margin: 20px 0;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgb(216, 216, 216);
  }
  .data-search-input {
    border: none;
    outline: none;
    width: 100%;
  }
  .admin-header-search-btn {
    border: none;
    background-color: #86c6ca;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    width: 100%;
    border-radius: 5px;
    color: white;
    padding: 5px 70px;
  }
}

@media (max-width: 768px) {
}


.pb-10{
padding-bottom: 10px;
}