@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Inter:wght@100;300;400;500;700&family=Libre+Bodoni:ital@0;1&family=Libre+Franklin:wght@100;400;500;600;700;800&family=Montserrat:wght@100;400&family=Noto+Sans+Osmanya&family=Poppins:wght@100;400;500;600;700;800;900&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");

.full-body {
  margin-top: 5.5%;
  /* border: 1px solid gray; */
}

.banner-full-div {
  /* filter: blur(148.0087432861328px); */
  background: linear-gradient(
    to right Bottom,
    white,
    /* Additional gradient colors */ #51b4fa,
    #dcf0fd,
    #ffffff,
    #05c8be,
    #ebfaf9,
    /* #51b4fa, */ #ebfaf9,
    /* #05c8be,
    #05c8be, */ /* Bottom side with white color */ white,
    white /* white */
  );

  padding: 30px 0 0 0;
  height: 100%;
  /* background-image: linear-gradient(to right, #51b4fa, white, #05c8be); */
}

.banner-text-div {
  /* display: grid;
  place-items: center; */
  /* border: 1px solid gray; */
  padding: 30px 0 0 0;
}
.banner-find-div {
  display: flex;
  /* gap: 20px; */
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 32.836px;
  background: linear-gradient(90deg, #02d4b6 0%, #1663f9 100%);
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  margin: 0 101px;
  border: none;
  /* width: 100%; */
  padding: 7px 17px;
}
.banner-text-h1 {
  color: #1f2326;
  text-align: center;

  font-family: "Poppins", sans-serif;
  width: 100%;
  /* border: 1px solid gray; */
  padding: 0 0 40px 0;
  /* H1 */
  /* font-family: Sora; */
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 800;
  line-height: 60px; /* 126.667% */
}
.banner-text-toys {
  background: linear-gradient(
    91deg,
    #02d4b6 66.57%,
    #03b3fa 76.71%,
    #1663f9 84.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* H1 */
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
}
.search-span-icon {
  background-color: #ffd239;
  border-radius: 100%;
  padding: 5px;
}
.banner-search-input {
  border: none;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
}

.banner-icon-div {
  display: flex;
  justify-content: center;
  margin: 30% 0 0 0;
}

.banner-carousel-div {
  margin: 7% 0 0 0;
  width: 100%;
  overflow-x: hidden;
}

.caro-img-div {
  border-radius: 20px;
}
.caro-img {
  border-radius: 20px;
  display: block;
  width: 100%;
}

/* Popur Products  */

.pop-tag-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 30px 20px;
}
.toy-slider-div {
  padding: 0 20px 30px 20px;
}

.pop-tag {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.pop-tag-color {
  color: #01de9e;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.foter-tag-img-div {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}
.TUB {
  color: #000;
  /* leading: both; */
  /* text-size-adjust: cap; */
  text-align: center;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  font-size: 30.588px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.824px; /* 140% */
}
.pop-all-btn {
  display: inline-flex;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32.836px;
  border: none;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: white;
}
.pop-full-div {
  /* background: linear-gradient(to right, #51b4fa, #dcf0fd, #ffffff, #ebfaf9); */
  padding: 20px 0 0 0;
}
.pop-cont-div {
  background: white;
  padding: 30px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.single-toy {
  position: relative;
  width: 93% !important;
  border: none;
  border-radius: 10px;
}

.toy-img-div {
  position: relative;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 90%;
  height: 20vh;
  display: flex;
  box-shadow: rgba(212, 212, 212, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}
.tbrudal-img-div {
  position: relative;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 22vh;
  /* border: 1px solid gray; */
  display: flex;
  box-shadow: rgba(212, 212, 212, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.tag-pri-div {
  /* background-color: white;
  height: 10vh; */
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

.top-left-text,
.top-right-text {
  color: rgb(27, 27, 27);
  font-size: 10px;
  /* font-weight: bold; */
}

.top-left-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  border-radius: 3.066px;
  background: var(--green-100, #c9e8bc);
  display: flex;
  width: 65.915px;
  height: 15.329px;
  padding: 1.533px 7.665px 1.533px 6.132px;
  justify-content: center;
  align-items: center;
  gap: 4.599px;
  flex-shrink: 0;
  margin: 5px 0 0 2px;
}

.top-right-text {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 75.915px;
  height: 15.329px;
  padding: 1.533px 7.665px 1.533px 6.132px;
  justify-content: center;
  align-items: center;
  gap: 4.599px;
  margin: 5px 2px 0 0;
  flex-shrink: 0;
  border-radius: 3.066px;
  background: rgba(230, 167, 30, 0.18);
}
.categories-img-div {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 20vh;
  display: flex;
  background-color: white;
  box-shadow: rgba(212, 212, 212, 0.1) 0px 4px 12px;
  justify-content: center;
  /* background-color: #e5e5e5; */
}
.toy-img {
  /* background-position: center; */
  /* position: relative; */
  width: 100px;
  height: 90px;
}
.categories-img {
  margin: 0 0 0 0;
  width: 130px;
  height: 90px;
}

.card-text {
  color: #23254b;
  font-family: "Poppins", sans-serif;
  font-size: 13.796px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.461px; /* 155.556% */
}
.brudal-card-text {
  color: var(--dark-1, #81879d);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}
.card-text-rating {
  color: #878787;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: "Poppins", sans-serif;
  font-size: 10.197px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.555px; /* 180% */
}
.taka-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}
.takaTop-view {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}
.card-t-div {
  margin: 7px 0 0 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 0 10px;
}
.taka-view-span {
  display: flex;
  padding: 1.861px 11.168px;
  justify-content: center;
  align-items: center;
  border-radius: 11.168px;
  background: #e6edff;
  color: var(--blue-800, #072d8c);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 10.73px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.613px; /* 173.462% */
}
.taka-view-span2 {
  color: #156cfa;
  font-family: "Poppins", sans-serif;
  font-size: 9.197px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.329px; /* 166.667% */
}
.button-view {
  border: none;
}

/* Top Brudal Toys */

.brudal-single-toy {
  width: 93% !important;
  border: none;
  border-radius: 10px;
}
.brudal-toy-head-div {
  margin: 5% 0 0 0;
}
.brudal-toy-img1-div {
}
.brudal-toy-Img-div {
  display: flex;
  /* background: linear-gradient(
    to top right,
  #51b4fa,
    #dcf0fd,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  ); */
  position: relative;
  justify-content: center;
  z-index: 1;
}
.ShopTop-view {
  /* border: 1px solid gray; */
  background-color: rgba(1, 222, 158, 1);
  color: white;
  display: grid;
  margin: 0 25%;
  padding: 7px;
  border-radius: 20px;
  place-items: center;
  /* width: 50px; */
}
.ShopTop1-view {
  /* border: 1px solid gray; */
  background-color: rgba(254, 138, 167, 1);
  color: white;
  display: grid;
  margin: 0 25%;
  padding: 7px;
  border-radius: 20px;
  place-items: center;
  /* width: 50px; */
}
.ShopTop3-view {
  /* border: 1px solid gray; */
  background-color: rgba(0, 175, 237, 1);
  color: white;
  display: grid;
  margin: 0 25%;
  padding: 7px;
  border-radius: 20px;
  place-items: center;
  /* width: 50px; */
}
.ShopTop4-view {
  /* border: 1px solid gray; */
  background-color: rgba(21, 108, 250, 1);
  color: white;
  display: grid;
  margin: 0 25%;
  padding: 7px;
  border-radius: 20px;
  place-items: center;
  /* width: 50px; */
}
.ShopTop5-view {
  /* border: 1px solid gray; */
  background-color: rgba(255, 208, 56, 1);
  color: white;
  display: grid;
  margin: 0 25%;
  padding: 7px;
  border-radius: 20px;
  place-items: center;
  /* width: 50px; */
}
.backgrad {
  background: linear-gradient(
    to top right,
    #51b4fa,
    #dcf0fd,
    #dcf0fd,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  padding: 20px 0 40px 0;
  /* border: 1px solid gray; */
}
.brudal-toy-img {
  width: 100%;
  height: 40vh;
  background-color: rgb(28, 117, 219);
  margin-top: 30px;
}
.brudal-toy-imgs {
  width: 25%;
  height: 241px;
  margin-left: -30px;
}
.brudal-toy-slider-div {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  padding: 2% 0 0 0;
  margin: -8% 0 0 4%;
  /* background: linear-gradient(to Bottom, black, white); */
}
.Top-single-toy {
  position: relative;
  width: 93% !important;
  border: none;
  margin: 20px 0;
  height: 33vh;

  background-color: white !important;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  border-radius: 10px;
}
.Categ-Home-full-div {
  background: linear-gradient(
    to bottom right,
    #51b4fa,
    #dcf0fd,
    #dcf0fd,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
}
.top-brud-tag {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.top-brud-textp {
  color: var(--dark-1, #81879d);

  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  width: 463px;
  height: 96px;
}

.brudal-img-div {
  display: grid;
  place-items: center;
}
.brud-card-text {
  color: var(--dark-1, #81879d);
  display: flex;
  justify-content: center;

  /* Body 3 */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.brud-taka-view-span {
  display: grid;
  place-items: center;
  padding: 2.428px 14.571px;

  color: var(--blue-800, #072d8c);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.285px; /* 173.462% */
  width: 100px;
  border-radius: 14.571px;
  background: #e6edff;
}
.Categ-Home-full-div {
  margin: 0;
  padding: 50px 0 0 0;
}
.Categ-Home-div {
  display: grid;
  place-items: center;
}
.top-picks {
  color: #01de9e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.Shop-By {
  color: var(--Dark, #1f2326);
  text-align: center;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.popular {
  color: var(--dark-1, #81879d);
  text-align: center;
  width: 65%;
  /* border: 1px solid gray; */
  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.buttons-left-right-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}
.established-full-div {
  padding: 5% 0;
  margin: 3% 0;
  /* border-top-right-radius: 10%; */
  /* border-top-right-radius: 10%; */
  background: linear-gradient(
    to right,
    white,
    white,
    white,
    #54f7c933,
    #a3f8e0b2
  );
}
.establishe-full-div {
  padding: 10% 0 6% 0;
  border-top-right-radius: 10%;
  border-top-right-radius: 10%;
  background: linear-gradient(
    to left,
    white,
    white,
    white,
    #54f7c933,
    #a3f8e0b2
  );
}
.long-estabilize-side-pic-full-div {
  display: flex;
  justify-content: center;
}
.long-estabilizes-div {
  display: flex;
  padding: 10px;
  width: 100%;

  height: 30vh;
  margin: 0 0 10px 0;
  /* border: 3.426px solid #01DE9E; */
  flex-direction: column;
  background-color: white;
}
.long-estabilizes-div:hover {
  box-shadow: rgba(0, 143, 24, 0.16) 0px 1px 4px,
    rgba(0, 131, 22, 0.623) 0px 0px 0px 3px;
  cursor: pointer;
}
.long-estabilize-side-pic-div {
  /* margin: -15% 0 0; */
}
.long-estabilize-side-pics-div {
  margin: -10% 5px 0 0;
}

.long-estabilize-div {
  width: 30%;
  height: 30vh;
  padding: 10px;
  margin: 0 10px 0 0;
  background-color: white;
  /* border: 1px solid green; */
}

.long-estabilize-div:hover {
  box-shadow: rgba(0, 143, 24, 0.16) 0px 1px 4px,
    rgba(0, 131, 22, 0.623) 0px 0px 0px 3px;
  cursor: pointer;
}
.toy-img-est {
  display: grid;
  place-content: center;
  width: 150px;
}

.ong-estab-tags {
  color: var(--Dark, #1f2326);
  width: 300px;
  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.ong-estab-text {
  color: var(--dark-1, #81879d);

  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.price-number {
  color: var(--blue-800, #072d8c);
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 10%;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.285px; /* 173.462% */
  border-radius: 14.571px;
  background: #e6edff;
}
.ong-estab-review {
  color: var(--Texts-Light, #59636a);

  /* P2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.ong-estab-prcolSiz {
  color: var(--Texts-Light, #59636a);

  /* Button 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.counting-div {
  display: flex;
  gap: 20px;
}

.add-to-cart-div {
  display: flex;
  gap: 20px;
}
.add-to-cart {
  border-radius: 32.836px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  width: 210px;
  border: none;
  height: 60px;
  flex-shrink: 0;
}
.count-bten {
  border: none;
  background-color: white;
  align-items: center;
}
.feather-back {
}
.featured-full-div {
  margin: 4% 0 4% 0;
}

.featured-tags-div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2% 0;
}
.featured-tags-btn {
  display: inline-flex;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 32.836px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  color: white;
  font-family: "Poppins", sans-serif;
}
.featured-tags-btn-div {
  display: flex;
  gap: 25px;
}
.buttonr-l-r {
  border: none;
  background: white;
}
.featured-tags {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.featured-tags-product {
  color: #01de9e;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.load-more-div {
  display: flex;
  margin: 40px 0 0 0;
  justify-content: center;
}
.load-more {
  border-radius: 32.836px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  width: 210px;
  height: 60px;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  border: none;
}

.bestproduct-item-div {
  display: flex;
  gap: 10px;
  /* flex-wrap: nowrap; */
}
.best-full-div {
  /* margin: 10% 0 5% 0; */
  background: linear-gradient(
    to left top,
    white,
    white,
    white,
    #7ac3f8,
    #ddf0fd,
    white,
    white,
    white,
    white,
    white,
    #54f7c933,
    #a3f8e0b2
  );
}

.best-tag-div {
  display: grid;
  place-items: center;
}
.black-best-div {
  margin: 5% 0 0 0;
  padding: 5% 0 5% 0;
  background: linear-gradient(
    to right,
    white,
    /* Additional gradient colors */ /* Additional gradient colors */
      /* Additional gradient colors */ white,
    #ffffff,
    #ffffff,
    #ffffff,
    #abd9fc00,
    #e5f3fd,
    #51b4fa44
  );
}
.black-look-p {
  color: #01de9e;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.black-look-h5 {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.sale-text {
  color: #01de9e;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.black-look-ptext {
  color: var(--dark-1, #81879d);

  /* Pera 2 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.add-discount-div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.adds-icons {
  border: 1px solid gray;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  /* padding: 10px; */
  height: 3vh;
}
.review-num-full-div {
  background: #f4f8fc;
  padding: 3% 0 3% 0;
  margin: 0 0 20px 0;
}
.up50h6 {
  color: var(--Dark, #1f2326);

  /* Sub Heading 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  font-family: "Poppins", sans-serif;
}
.up50p {
  color: var(--dark-1, #81879d);

  /* Body 3 */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.black-look-div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
}
.review-num-div {
  display: grid;
  place-items: center;
  /* line-height: 0.1; */
}
.review-number {
  color: #01de9e;

  /* H1 */
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px; /* 126.667% */
}
.review-numberp {
  color: var(--dark-1, #81879d);
  margin: -10px 0 0 0;
  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.review-number1 {
  color: var(--secondary, #f5953a);

  /* H1 */
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px; /* 126.667% */
}
.review-number2 {
  color: var(--secondary, #3db0e5);

  /* H1 */
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px; /* 126.667% */
}
.review-number3 {
  color: var(--secondary, #ff7999);

  /* H1 */
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px; /* 126.667% */
}
.w-y-clint-h6 {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.clients-text {
  color: #01de9e;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.w-y-clint-div {
  display: grid;
  place-items: center;
}
.w-y-clint-p {
  color: var(--dark-1, #81879d);
  text-align: center;

  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  width: 40%;
  line-height: 28px; /* 140% */
}
.card-header-text-div {
  display: flex;
  gap: 20px;
}
.author-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.card-diiiiv {
  padding: 20px;
}
.card-ptext {
  color: var(--dark-1, #81879d);
  font-family: "Poppins", sans-serif;
  padding: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.card-diiiiv-full {
  width: 98% !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.discount-banner-div {
  margin: 0 0 0 0;
  padding: 6% 0 12% 0;
  background: linear-gradient(
    to bottom,
    white,
    white,
    white,
    white,
    /* white, */ #51b4fa,
    #51b4fa,
    #01de9e,
    #05c8be
  );
  /* border-radius: 20px; */
}
.discount-banner-full-div {
  background: linear-gradient(243deg, #03d4b7 7.82%, #1764f9 74.31%);
  /* margin: 10px 0 0; */
  padding: 3% 10px;
  border-radius: 20px;
}
.discoount-text-div {
  margin: 2% 0 0 4%;
}
.discount-banner-textp {
  color: var(--white-1, #f0f0f0);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.18px;
}
.discount-banner-texth5 {
  width: 328px;
  color: var(--White, #fff);

  /* H3 */
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 123.529% */
}
.discount-banner-texth6 {
  width: 396px;
  color: var(--White, #fff);

  /* Body 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.see-all-product-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32.836px;
  background: var(--title, #171d22);
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  color: var(--white-white, #fff);
  margin: 2% 0 0 0;
  /* Sub Heading 2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.discoount-banenr-img-div {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-div {
  margin: -7% 0 0 0;
  padding: 5% 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
}
.footer-imgs {
  width: 20px;
  height: 2vh;
}

@media only screen and (max-width: 1366px) {
  .full-body {
    margin-top: 8%;
  }
  .banner-full-div {
    /* filter: blur(148.0087432861328px); */
    background: linear-gradient(
      to right Bottom,
      white,
      /* Additional gradient colors */ #51b4fa,
      /* Additional gradient colors */ #51b4fa,
      /* Additional gradient colors */ #51b4fa,
      #dcf0fd,
      #ffffff,
      #ffffff,
      #05c8be,
      #05c8be,
      #05c8be,
      #ebfaf9,
      #ebfaf9,
      /* #05c8be,
      #05c8be, */ /* Bottom side with white color */ white,
      white,
      white
    );
    padding: 30px 0;
    height: 100%;
    /* background-image: linear-gradient(to right, #51b4fa, white, #05c8be); */
  }
}

@media only screen and (max-width: 760px) {
  .full-body {
    margin-top: 17%;
  }
}

@media (max-width: 1680px) and (min-width: 1368px) {
  /* .fist-slider-text-tag {
    font-size: 55px;
    margin-top: 40px;
    line-height: 1.2;
  }*/
}
