@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Inter:wght@100;300;400;500;700&family=Libre+Bodoni:ital@0;1&family=Libre+Franklin:wght@100;400;500;600;700;800&family=Montserrat:wght@100;400&family=Noto+Sans+Osmanya&family=Poppins:wght@100;400;500;600;700;800;900&family=Rethink+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");

.full-body {
  margin-top: 5.5%;
  /* border: 1px solid gray; */
}

.banner-full-div {
  /* filter: blur(148.0087432861328px); */
  background: linear-gradient(
    to right Bottom,
    white,
    /* Additional gradient colors */ #51b4fa,
    #dcf0fd,
    #ffffff,
    #05c8be,
    #ebfaf9,
    /* #51b4fa, */ #ebfaf9,
    /* #05c8be,
    #05c8be, */ /* Bottom side with white color */ white,
    white /* white */
  );

  padding: 30px 0 0 0;
  height: 100%;
  /* background-image: linear-gradient(to right, #51b4fa, white, #05c8be); */
}

.banner-text-div {
  /* display: grid;
  place-items: center; */
  /* border: 1px solid gray; */
  padding: 30px 0 0 0;
}
.banner-find-div {
  display: flex;
  /* gap: 20px; */
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 32.836px;
  background: linear-gradient(90deg, #02d4b6 0%, #1663f9 100%);
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  margin: 0 101px;
  border: none;
  /* width: 100%; */
  padding: 7px 17px;
}
.banner-text-h1 {
  color: #1f2326;
  text-align: center;

  font-family: "Poppins", sans-serif;
  width: 100%;
  /* border: 1px solid gray; */
  padding: 0 0 40px 0;
  /* H1 */
  /* font-family: Sora; */
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 800;
  line-height: 60px; /* 126.667% */
}
.banner-text-toys {
  background: linear-gradient(
    91deg,
    #02d4b6 66.57%,
    #03b3fa 76.71%,
    #1663f9 84.6%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* H1 */
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
}
.search-span-icon {
  background-color: #ffd239;
  border-radius: 100%;
  padding: 5px;
}
.banner-search-input {
  border: none;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
}

.banner-icon-div {
  display: flex;
  justify-content: center;
  margin: 30% 0 0 0;
}

.banner-carousel-div {
  margin: 7% 0 0 0;
  width: 100%;
  overflow-x: hidden;
}

.caro-img-div {
  border-radius: 20px;
}
.caro-img {
  border-radius: 20px;
  display: block;
  width: 100%;
}

/* Popur Products  */

.pop-tag-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 30px 20px;
}
.toy-slider-div {
  padding: 0 20px 30px 20px;
}

.pop-tag {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.pop-tag-color {
  color: #01de9e;

  /* H2 */
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}
.pop-all-btn {
  display: inline-flex;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32.836px;
  border: none;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: white;
}
.pop-full-div {
  /* background: linear-gradient(to right, #51b4fa, #dcf0fd, #ffffff, #ebfaf9); */
  padding: 20px 0 0 0;
}
.pop-cont-div {
  background: white;
  padding: 30px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.single-toy {
  width: 93% !important;
  border: none;
  border-radius: 10px;
}
.toy-img-div {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 20vh;
  display: flex;
  box-shadow: rgba(212, 212, 212, 0.1) 0px 4px 12px;
  justify-content: center;
  background-color: #e5e5e5;
}
.categories-img-div {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 20vh;
  display: flex;
  box-shadow: rgba(212, 212, 212, 0.1) 0px 4px 12px;
  justify-content: center;
  /* background-color: #e5e5e5; */
}
.toy-img {
}
.categories-img {
  margin: 40px 0 0 0;
  width: 130px;
  height: 90px;
}

.card-text {
  color: #23254b;
  font-family: Poppins;
  font-size: 13.796px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.461px; /* 155.556% */
}
.card-text-rating {
  color: #878787;
  /* leading-trim: both;
  text-edge: cap; */
  font-family: Poppins;
  font-size: 10.197px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.555px; /* 180% */
}
.taka-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 0 10px;
}
.card-t-div {
  margin: 7px 0 0 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 0 10px;
}
.taka-view-span {
  display: flex;
  padding: 1.861px 11.168px;
  justify-content: center;
  align-items: center;
  border-radius: 11.168px;
  background: #e6edff;
  color: var(--blue-800, #072d8c);
  text-align: center;
  font-family: Poppins;
  font-size: 10.73px;
  font-style: normal;
  font-weight: 600;
  line-height: 18.613px; /* 173.462% */
}
.taka-view-span2 {
  color: #156cfa;
  font-family: Poppins;
  font-size: 9.197px;
  font-style: normal;
  font-weight: 600;
  line-height: 15.329px; /* 166.667% */
}
.button-view {
  border: none;
}

/* Top Brudal Toys */

.brudal-single-toy {
  width: 93% !important;
  border: none;
  border-radius: 10px;
}
.brudal-toy-head-div {
  margin: 5% 0 0 0;
}
.brudal-toy-img1-div {
}
.brudal-toy-Img-div {
  display: flex;
  background: linear-gradient(
    to top right,
    /* #ffffff, */ #51b4fa,
    #dcf0fd,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff
  );
  position: relative;
  justify-content: center;
  z-index: -1;
}
.brudal-toy-img {
  width: 100%;
  height: 40vh;
  background-color: rgb(28, 117, 219);
  margin-top: 30px;
}
.brudal-toy-imgs {
  width: 25%;
  height: 241px;
  margin-left: -30px;
}
.brudal-toy-slider-div {
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 2;
  padding: 2% 0 0 0;
  margin: -8% 0 0 4%;
  /* background: linear-gradient(to Bottom, black, white); */
}
.top-brud-tag {
  color: var(--Dark, #1f2326);

  /* H2 */
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.top-brud-textp {
  color: var(--dark-1, #81879d);

  /* Peragraph 1 */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  width: 463px;
  height: 96px;
}

.brudal-img-div {
  display: grid;
  place-items: center;
}
.brud-card-text {
  color: var(--dark-1, #81879d);
  display: flex;
  justify-content: center;

  /* Body 3 */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.brud-taka-view-span {
  display: grid;
  place-items: center;
  padding: 2.428px 14.571px;

  color: var(--blue-800, #072d8c);
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.285px; /* 173.462% */
  width: 100px;
  border-radius: 14.571px;
  background: #e6edff;
}
.Categ-Home-full-div {
  margin: 10% 0;
}
.Categ-Home-div {
  display: grid;
  place-items: center;
}
.top-picks {
  color: #01de9e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.Shop-By {
  color: var(--Dark, #1f2326);
  text-align: center;

  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.popular {
  color: var(--dark-1, #81879d);
  text-align: center;
  width: 65%;
  /* border: 1px solid gray; */
  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.buttons-left-right-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}
.established-full-div {
  padding: 10% 0 0 0;
  border-top-right-radius: 10%;
  border-top-right-radius: 10%;
  background: linear-gradient(to right Bottom, white, white, #01de9fb2);
}
.long-estabilize-side-pic-full-div {
  display: flex;
  justify-content: center;
}
.long-estabilizes-div {
  display: flex;
  padding: 10px;
  width: 100%;

  height: 30vh;
  margin: 0 0 10px 0;
  /* border: 3.426px solid #01DE9E; */
  flex-direction: column;
  background-color: white;
}
.long-estabilizes-div:hover {
  box-shadow: rgba(0, 143, 24, 0.16) 0px 1px 4px,
    rgba(0, 131, 22, 0.623) 0px 0px 0px 3px;
  cursor: pointer;
}
.long-estabilize-side-pic-div {
  margin: -15% 0 0;
}

.long-estabilize-div {
  width: 30%;
  height: 30vh;
  padding: 10px;
  margin: 40px 10px 0 0;
  background-color: white;
  /* border: 1px solid green; */
}

.long-estabilize-div:hover {
  box-shadow: rgba(0, 143, 24, 0.16) 0px 1px 4px,
    rgba(0, 131, 22, 0.623) 0px 0px 0px 3px;
  cursor: pointer;
}
.toy-img-est {
  display: grid;
  place-content: center;
  width: 150px;
}

.ong-estab-tags {
  color: var(--Dark, #1f2326);
  width: 300px;
  /* H2 */
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 120% */
}
.ong-estab-text {
  color: var(--dark-1, #81879d);

  /* Peragraph 1 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.price-number {
  color: var(--blue-800, #072d8c);
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 10%;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.285px; /* 173.462% */
  border-radius: 14.571px;
  background: #e6edff;
}
.ong-estab-review {
  color: var(--Texts-Light, #59636a);

  /* P2 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.ong-estab-prcolSiz {
  color: var(--Texts-Light, #59636a);

  /* Button 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.counting-div {
  display: flex;
  gap: 20px;
}

.add-to-cart-div {
  display: flex;
  gap: 20px;
}
.add-to-cart {
  border-radius: 32.836px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  box-shadow: 3.219px 4.507px 14.808px 0px rgba(4, 202, 189, 0.31);
  width: 210px;
  border: none;
  height: 60px;
  flex-shrink: 0;
}
.count-bten {
  border: none;
  background-color: white;
  align-items: center;
}

@media only screen and (max-width: 1366px) {
  .full-body {
    margin-top: 8%;
  }
  .banner-full-div {
    /* filter: blur(148.0087432861328px); */
    background: linear-gradient(
      to right Bottom,
      white,
      /* Additional gradient colors */ #51b4fa,
      /* Additional gradient colors */ #51b4fa,
      /* Additional gradient colors */ #51b4fa,
      #dcf0fd,
      #ffffff,
      #ffffff,
      #05c8be,
      #05c8be,
      #05c8be,
      #ebfaf9,
      #ebfaf9,
      /* #05c8be,
      #05c8be, */ /* Bottom side with white color */ white,
      white,
      white
    );
    padding: 30px 0;
    height: 100%;
    /* background-image: linear-gradient(to right, #51b4fa, white, #05c8be); */
  }
}

@media only screen and (max-width: 760px) {
  .full-body {
    margin-top: 17%;
  }
}

@media (max-width: 1680px) and (min-width: 1368px) {
  /* .fist-slider-text-tag {
    font-size: 55px;
    margin-top: 40px;
    line-height: 1.2;
  }*/
}
