@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Inter:wght@100;300;400;500;700&family=Libre+Bodoni:ital@0;1&family=Libre+Franklin:wght@100;400;500;600;700;800&family=Montserrat:wght@100;400&family=Noto+Sans+Osmanya&family=Poppins:wght@100;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700&display=swap");

.product-estab-tags {
  color: var(--Texts-Dark, var(--title, #171d22));

  /* H3 */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 141.667% */
}
.product-estab-text {
  color: var(--body-text, #59636a);

  /* P3 */
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.pro-che-aWhi-div {
  display: flex;
  padding: 20px 0 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pro-che-aWhi {
  color: var(--Texts-Dark, var(--title, #171d22));
  text-align: center;

  /* Button 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid var(--Shapes-Color-Light-Grey, #e2e8eb);
  width: 400px;
  height: 60px;
  flex-shrink: 0;
  line-height: 30px; /* 166.667% */
}

.product-counting-div {
  display: flex;
  gap: 20px;

  /* width: 100px; */
  border: 1px solid gray;
  /* border-radius: 20px; */
  padding: 5px 10px;
  border-radius: 30px;
  border: 1px solid var(--Shapes-Color-Light-Grey, #e2e8eb);
}
.Product-add-to-cart-div {
  display: flex;
  gap: 20px;
  margin: 20px 0 10px 0;
}
.add-to-cart {
  border-radius: 32.836px;
  border-radius: 30px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  width: 210px;
  border: none;
  color: white;
  height: 60px;
  flex-shrink: 0;
}


.product-add-to-cart {
  border-radius: 32.836px;
  border-radius: 30px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  width: 210px;
  border: none;
  color: white;
  height: 60px;
  flex-shrink: 0;
}

.singl-big-product-div {
  display: flex;
  justify-content: center;
  border: 1px solid var(--Shapes-Color-Light-Grey, #e2e8eb);
  height: 460px;
}
.singl-big-product {
  object-fit: contain;
  width: 80%;
  height: 350px;
  margin: 20px 0 0 0;
  padding: 30px 0 0 0;
  /* border: 1px solid gray; */
}
.singl-small-full-product-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.singl-small-img-product-div {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.singl-small-text-product-div {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--Shapes-Color-Light-Grey, #e2e8eb);
  display: flex;

  padding: 25px 0 20px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100%; */
  cursor: pointer;
}
.product-tagh5-div {
  width: 60%;
  margin: 30px 0 60px 0;
}
.product-tagh5 {
  color: var(--Texts-Dark, var(--title, #171d22));

  /* H4 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
.product-ptext {
  color: var(--Texts-Light, #59636a);
  /* margin: -10px 0 0 0; */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.prod-review-write-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
}
.rat-text {
  color: var(--Texts-Dark, var(--title, #171d22));

  /* H4 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  display: flex;
  gap: 10px;
  align-items: center;
}
.prod-base-text {
  color: var(--Texts-Light, #59636a);

  /* P2 */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.prod-base-rev-btn {
  display: flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  color: var(--Texts-White, #fff);
  text-align: center;
  border: none;
  /* Button 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  background: var(--Shapes-Color-Blue, #0078ea);
}

.reviwer-card-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 16px;
}
.cust-name {
  color: var(--Texts-Lighter, #98a4ac);

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.loadMore-btn-div {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadMore-btn {
  color: var(--Texts-White, #fff);
  border: none;
  text-align: center;
  display: flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;
  /* Button 1 */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  border-radius: 30px;
  background: var(--Shapes-Color-Blue, #0078ea);
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}
.more-prod-fulldiv {
  background: linear-gradient(
    to bottom,
    white,
    white,
    white,
    /* white, */ #51b4fa,
    #51b4fa,
    #01de9e,
    #05c8be
  );
  padding: 0 0 60px 0;
  /* margin: 0 0 10% 0; */
}
.single-toy-single {
  position: relative;
  width: 93% !important;
  border: none;
  border-radius: 10px;
  background: white;
  margin: 30px 0;
  /* padding: 10px 0 40px 0; */
}
.produc-toy-img-div {
  position: relative;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  height: 22vh;
  display: flex;
  box-shadow: rgba(212, 212, 212, 0.1) 0px 4px 12px;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  padding: 10px 0;
}
.produc-toy-img {
  /* background-position: center; */
  /* position: relative; */
  width: 100px;
  height: 90px;
}
.footer-div {
  margin: -5% 0 0 0;
  padding: 5% 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: white;
}
.footer-imgs {
  width: 20px;
  height: 2vh;
}

/* -----------Cart ------ */
.cart-full-div {
  margin-top: 7%;
  padding: 2% 0% 6% 0;
  background: linear-gradient(
    to bottom,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    #d4eafa94,
    #70c4ff,
    #51b4fa,
    #05c8be
  );
}
.cart-product-div {
  margin: 2% 0;
}
.checkout-btn {
  color: var(--Texts-White, #fff);
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  width: 370px;
  height: 60px;
  flex-shrink: 0;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  line-height: 30px; /* 166.667% */
}

/*-------------- CheckOut ------------ */

.Checkout-full-div {
  margin: 5% 0 0 0;
  padding: 2% 0% 6% 0;
  background: linear-gradient(
    to bottom,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    #70c4ff,
    #51b4fa
  );
}
.cart-head-button-div {
  display: flex;
  /* gap: 10px; */
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.active-button-div {
  border: 1px solid #dadada;
}
.checkout-input {
  width: 100%;
  height: 50px;
  padding: 5px;
  flex-shrink: 0;
  border: 1px solid var(--Shapes-Color-Light-Grey, #c4c4c4);
  background: var(--Shapes-Color-White, #fff);
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
  /* border: 1px solid rgb(192, 192, 192); */
}
.btn-inp {
  /* width: 100%; */
  border: 1px solid rgb(66, 66, 66) !important;
  width: 100%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.selectinp {
  border: 1px solid var(--Shapes-Color-Light-Grey, #e2e8eb);
  background: var(--Shapes-Color-White, #fff) !important;
  border: none !important;
}

.checkout-text-input {
  width: 100%;
  height: 100px;
  padding: 5px;
  flex-shrink: 0;
  border: 1px solid var(--Shapes-Color-Light-Grey, #c4c4c4);
  background: white;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}

.image-container {
  display: flex;
  padding: 0 0 40px 0;
  gap: 20px; /* Optional: Add spacing between image-wrapper items */
}

.image-wrapper {
  position: relative; /* To position the input over the image */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left side) */
}

.form-check-input {
  position: absolute;
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  margin: 10px; /* Optional: Add some margin to the input for spacing */
}

img {
  /* Optional: Add styles to the image if necessary */
  width: 100px; /* Set width as per your requirement */
  height: auto; /* Maintain aspect ratio */
}
.checkoutterm-text {
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
  align-items: center;
}
.checkoutwarp-text {
  display: flex;
  justify-content: start;
  /* padding: 0 0 20px 0; */
  align-items: center;
}
.checkoutExtra-text {
  display: flex;
  justify-content: start;
  /* padding: 0 0 20px 0; */
  align-items: center;
}
.add-class {
  color: var(--Texts-Dark, var(--title, #171d22));

  /* H4 */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.oth-text {
  color: var(--Texts-Light, #59636a);
  margin: 0 0 30px 0;
  /* body */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #59636a;
  width: 60%;
  line-height: 30px; /* 166.667% */
}

/*---------- All Products ---------- */

.AllProducts-div {
  margin: 5% 0 0 0;
  padding: 2% 0% 5% 0;
  background: linear-gradient(
    to bottom,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    white,
    #70c4ff,
    #51b4fa
  );
}
.accordion-item {
  border: none !important;
}
.low-high-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.lh-p {
  border: 1px solid rgb(187, 187, 187);
  padding: 10px 25px;
}

.cancelfiltter-btn {
  display: flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;
  color: var(--title, #171d22);
  text-align: center;
  background-color: white;
  /* Button 1 */
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  border-radius: 30px;
  border: 1px solid #e2e8eb;
}
.applyfiltter-btn {
  display: flex;
  padding: 15px 35px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  color: #fff;
  text-align: center;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
}

.filter-btn-div {
  display: flex;
  gap: 30px;
  margin: 5% 0;
}
.text-area-btns-div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin: 5% 0;
}
.text-filter-area {
  width: 70%;
}

.AllProduct-Caard-div {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
}

.single-toy-div {
  position: relative;
  width: 96% !important;
  border: none;
  margin: 30px 0;
  border-radius: 10px;
}
.all-pro-btn-div {
  margin: 0 60px;
}
.all-pro-btn {
  display: flex;
  width: 100px;
  /* height: 52px; */
  padding: 6px 7px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--button, linear-gradient(90deg, #02d4b6 0%, #1663f9 100%));
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  border: none;
  margin: 10px 0;
  font-weight: 500;
  /* line-height: 30px; 166.667% */
}

.fil-top-right-text {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 75.915px;
  height: 15.329px;
  padding: 1.533px 0 1.533px 6.132px;
  justify-content: center;
  align-items: center;
  gap: 4.599px;
  margin: 15px 0 0 0;
  flex-shrink: 0;
  border-radius: 3.066px;
  /* background: rgba(230, 167, 30, 0.18); */
}

.all-filter-header-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.all-short-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.refrenc {
  border-radius: 20px !important;
  border-radius: 23px;
  /* border: 1px solid #e2e8eb; */
  background: #fff;
}
.accordion-button {
  border: none !important;
  background-color: white !important;
}
.accordion-button:not(.collapsed) {
  background-color: white !important;
  border: none !important;
}

.alprod-fil-text {
  color: var(--title, #171d22);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 125% */
}

#demo-multiple-name-label {
  color: var(--body-text, #59636a);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.kwy {
  color: var(--title, #171d22);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

@media only screen and (max-width: 1366px) {
  .AllProducts-div {
    margin: 9% 0 0 0;
    padding: 2% 0% 5% 0;
  }
}
